---
import HeroCard from "../components/hero-card.astro";
import Layout from "../layouts/layout.astro";

const cards = [
  {
    id: "honey-nets",
    title: "Honey Nets",
    description:
      "Aprenda cómo estas redes engañosas pueden burlar a los posibles atacantes y reforzar su estrategia de ciberseguridad.",
    href: "/honey-nets",
  },
  {
    id: "tunneling",
    title: "Tunelización",
    description:
      "Descubra el arte de crear enlaces de red seguros, garantizando una conexión sólida para su infraestructura digital.",
    href: "/tunneling",
  },
  {
    id: "iot",
    title: "Internet de las Cosas",
    description:
      "Explore la tecnología en donde los dispositivos se interconectan a la perfección.",
    href: "/iot",
  },
];
---

<Layout title="SecureNet">
  <div class="navbar border-b bg-base-100">
    <a class="btn btn-ghost" href="/">
      <img class="h-8 w-8" src="/logo.svg" alt="SecureNet logo" />
    </a>
  </div>
  <main class="px-5">
    <section
      class="mx-8 flex min-h-[calc(100vh-4rem)] items-center justify-center"
    >
      <div class="flex flex-col items-center">
        <h1
          class="bg-gradient-to-r from-secondary from-20% to-primary bg-clip-text text-center text-6xl font-black leading-none text-transparent transition md:text-9xl"
        >
          <span>SecureNet</span>
        </h1>
        <p
          class="max-w-lg py-4 text-center text-lg font-light text-base-content/70"
        >
          Explore los últimos avances en seguridad de redes, desde Honey Nets
          hasta Tunneling e Internet de las Cosas (IoT).
        </p>
        <div class="join mt-16 flex gap-2.5">
          {
            cards.map((card) => (
              <HeroCard title={card.title} href={card.href}>
                <p class="text-sm text-base-content/70">{card.description}</p>
              </HeroCard>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
